<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drone.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @drone.status %>
</p>

<%= link_to 'Edit', edit_drone_path(@drone) %> |
<%= link_to 'Back', drones_path %>
