<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | DroneZone</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('drone_icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer style="font-size: 10px;">Made with <3 by Nathan Gifford</footer>
</html>
